@charset "UTF-8";

#timeline {
  position: relative;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  font-family: 'Fira Sans', sans-serif;
  color: #79838c;
}
#timeline div:after {
  content: '';
  width: 2px;
  position: absolute;
  top: .5rem;
  bottom: 0rem;
  left: 60px;
  z-index: 1;
  background: #C5C5C5;
}
#timeline h3 {
  position: sticky;
  top: 8rem;
  color: #888;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}
@media (min-width: 62em) {
  #timeline h3 {
    font-size: 1.1em;
  }
}
#timeline section.year {
  position: relative;
}

#timeline section.year section {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em;
}
#timeline section.year section h4 {
  position: absolute;
  bottom: 0;
  font-size: .9em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 0 89px;
  color: #C5C5C5;
}
@media (min-width: 62em) {
  #timeline section.year section h4 {
    font-size: 1em;
  }
}
#timeline section.year section dl {
  list-style-type: none;
  padding: 0 0 0 75px;
  margin: -1.35rem 0 1em;
  max-width: 48rem;
  font-size: 1em;
}
@media (min-width: 62em) {
  #timeline section.year section dl {
    font-size: 1.1em;
    padding: 0 0 0 81px;
  }
}
#timeline section.year section dl:last-child {
  margin-bottom: 0;
}
#timeline section.year section dl:first-of-type:after {
  content: '';
  width: 15px;
  height: 15px;
  background: #C5C5C5;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  left: 53px;
  top: 3px;
  z-index: 2;
}
#timeline section.year section dl dt {
  margin-left: .5rem;
  font-size: 0.8em;
}
#timeline section.year section dl dd {
  margin-left: 2.5rem;
}
#timeline section.year section dl dd span.strong {
  color: mediumturquoise;
  font-weight: 500;
}

